<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857310880025-hkko8nc8qefa9df92puk1okcaln6fbv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857310880025-hkko8nc8qefa9df92puk1okcaln6fbv4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857310880025-4qac3hflbf4761fi206lke89dbjv03qi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC4PaWDPOlpC7-AgchYLnf3RKeWElnxjYw</string>
	<key>GCM_SENDER_ID</key>
	<string>857310880025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tigris.app</string>
	<key>PROJECT_ID</key>
	<string>tigris-new-employee-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tigris-new-employee-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857310880025:ios:a2a4507281af645d256588</string>
</dict>
</plist>